.Rproj.user
.Rhistory
.RData
.Ruserdata
Maritz_FacebookDatabase.csv
MVZSymposium
observations-317662.csv.zip
preytaxonomy.RDS
iNatDataset.csv
Snake_Diet_project.csv
observations-318007.csv.zip
observations-318348.csv.zip
observations-318441.csv.zip
