.Rproj.user
.Rhistory
.RData
.Ruserdata
Maritz_FacebookDatabase.csv
MVZSymposium
observations-317662.csv.zip
preytaxonomy.RDS
iNatDataset.csv
Snake_Diet_project.csv
Krone_Snakes_Presentation
MVZSymposium
Stickers
URLs.rda
SnakeDiets.R
iNat Datasets/inaturalist-taxonomy.dwca.zip